<div class="container">
  <div class="row">
      <%= form_for @trip do |f| %>
      <%= f.label :departure_date, "Departure date" %>
      <%= f.text_field :departure_date, placeholder: "mm/dd/yyy" %>
      <%= f.label :return_date, "Return date" %>
      <%= f.text_field :return_date, placeholder: "mm/dd/yyy" %>
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
        <%= f.submit "Update trip", class: "btn btn-color", method: :update %>
      <% end %>
  </div>
</div>
