<div class="container">
  <div class="row">
    <% if current_user %>
      <%= form_for @trip do |f| %>
        <%= f.label :departure_date, "Departure date" %>
        <%= f.text_field :departure_date, placeholder: "mm/dd/yyy" %>
        <%= f.label :return_date, "Return date" %>
        <%= f.text_field :return_date, placeholder: "mm/dd/yyy" %>
        <%= f.label :city, "City" %>
        <%= f.text_field :city %>
        <%= f.submit "Add new trip", class: "btn btn-color", method: :create %>
      <% end %>
      <% else %>
      <%= red %>
      <% end %>
  </div>
</div>
