<div class="container">
  <div class="col s12 m7">
    <div class="section">
    </div>
    <h5 class="header center-align"> <%= @user.first_name %>'s Dream Vacations Planning Center</h5>
    <div class="section">
    </div>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag @user.avatar %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
          <li>First name: <%= @user.first_name %></li>
          <li>Last name: <%= @user.last_name %></li>
          <li>Username: <%= @user.username %></li>
          </ul>
        </div>
        <div class="card-action">
          <%= link_to "Edit your profile", edit_user_path(@user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="center-align">
    <%= link_to "Plan an adventure", new_trip_path, class: "btn btn-color" %>
  </div>
    <div class="section">
    </div>
    <div class="">

    <% if @user.trips.nil? == false %>
      <h5 class="header center-align">View your trips</h5>
      <table class="bordered centered highlight trips-table">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Departure date</th>
            <th>Return date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% current_user.trips.each do |trip| %>
            <td><a href="/trips/<%= trip.id %>"><%=  trip.city %></a></td>
            <td><%= trip.departure_date %></td>
            <td><%= trip.return_date %></td>
            <td><%= link_to "Edit", edit_trip_path(trip) %></td>
            <td><%= link_to "Delete", trip_path(trip), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="too-short">
        <h6>Live is too short!!! Go do something!</h6>
      </div>
      <%= link_to "Plan an adventure", new_trip_path, class: "btn btn-color" %>
      <% end %>
    </div>
    <div class="section"></div>
    <div class="section"></div>
</div>
