<!DOCTYPE html>
<html>
  <head>
    <title>TravelTherapy</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Fredericka+the+Great|Lobster+Two|Love+Ya+Like+A+Sister|Pacifico|Playball|Sansita|Satisfy|Sofia|Spirax" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <% flash.each do |type, msg| %>
      <%= content_tag :div, sanitize(msg), class: type %>
    <% end %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
